.title {
  color: red;
}

.contentMain {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
	background-image: url(http://www.zimainformatica.es/imagenes/background.jpg);
}
