.title {
  color: red;
}

.contentMain {
	background-image: url(https://st.depositphotos.com/1037759/3057/v/950/depositphotos_30574719-stock-illustration-retro-pattern-of-geometric-shapes.jpg);
	text-align: center;
	margin-top: 300px;
}